/* *{
    outline: 1px solid red;
} */

:root {
    --clr-primary--300: hsl(35, 77%, 62%);
    --clr-secondary--300: hsl(5, 85%, 63%);

    --clr-neutral--200: hsl(36, 100%, 99%);
    --clr-neutral--300: hsl(233, 8%, 79%);
    --clr-neutral--500: hsl(236, 13%, 42%);
    --clr-neutral--900: hsl(240, 100%, 5%);

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --ff-base: 'Inter', sans-serif;

    --mg-bottom: 2rem;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral--500);
    font-size: .925rem;
    background-color: var(--clr-neutral--200);
    padding: 1rem;
}

p {
    line-height: 1.89em;
}

/* utilities */
.flex-group {
    display: flex;
    gap: 1rem;
}

.grid-span-col-2{
    grid-column: span 2;
}

/* header */
header {
    width: 100%;
    background-color: var(--clr-neutral--200);
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -1rem;
    padding-left: 1rem;
}

.logo {
    margin: 2rem 0;
}

header img {
    width: 50px;
}

/* nav */
.darken {
    position: fixed;
    inset: 0 0 0 0;
    background: black;
    opacity: .5;
}

#navMenu {
    transition: all ease-in-out 350ms;
}

.primary-nav {
    list-style: none;
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 100%;
    background: var(--clr-neutral--200);
    padding: 10rem 1.7rem;
}

.primary-nav>a {
    text-decoration: none;
    color: var(--clr-neutral--900);
    font-size: 1.1rem;
}

.primary-nav>a:hover {
    color: var(--clr-secondary--300);
}

.primary-nav.open {
    inset: 0 0 0 31.7%;
}


.menu {
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    z-index: 999;
}

.line,
.menu::before,
.menu::after {
    content: '';
    display: block;
    width: 100%;
    background-color: var(--clr-neutral--900);
    height: 3px;
    margin: .26em 0;
    transition: all ease-in-out 400ms;
}

.menu.menu-open:after {
    transform: rotate(45deg) translate(-7px, -3px);
}

.menu.menu-open:before {
    transform: rotate(-45deg) translate(-7px, 3px);
}

.menu.menu-open .line {
    opacity: 0;
    transform: translateX(20px);
}

/* main content */

.main {
    margin-top: 5rem;
}

.main-img {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
}


.main_heading {
    color: var(--clr-neutral--900);
    font-weight: var(--fw-extrabold);
    font-size: 2.5rem;
    line-height: 1em;
}

.main p {
    margin: 1.4rem 0;
    font-weight: var(--fw-regular);
}

.main button {
    color: var(--clr-neutral--200);
    background-color: var(--clr-secondary--300);
    border: none;
    padding: .9rem 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .825rem;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.main button:hover {
    background: var(--clr-neutral--900);
}

/* new posts */

.new-posts {
    background-color: var(--clr-neutral--900);
    margin: 5rem 0;
    padding: 1.5rem;
}

.new-posts_heading {
    color: var(--clr-primary--300);
    font-size: 2rem;
}

.new-post {
    margin: 1.7rem 0;
    color: var(--clr-neutral--200);
}

.new-post a {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
}

.new-post a:hover {
    color: var(--clr-primary--300);
}

.new-post p {
    color: var(--clr-neutral--300);
}

.new-posts hr {
    border: 1px solid var(--clr-neutral--500);
    border-top: none;
}

/* old posts */
.old-post {
    align-items: center;
}

.old-posts picture {
    width: 30%;
}

.old-posts div {
    width: 60%;
}

.old-posts article {
    margin-bottom: 2rem;
}

.old-post_number {
    font-size: 2rem;
    color: var(--clr-neutral--300);
}

.old-post a{
    font-size: 1rem;
    margin-bottom: .8rem;
    color: var(--clr-neutral--900);
    font-weight: var(--fw-extrabold);
}

.old-post a:hover{
    color: var(--clr-secondary--300);
}

footer {
    height: 4rem;
}

@media (min-width : 950px){
    body{
        padding: 2rem 9rem;
    }

    header{
        padding: 0;
        margin: 0;
        position: inherit;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }

    .primary-nav{
        position: inherit;
        flex-direction: row;
        padding: 0;
        gap: 2em;
    }

    .old-posts{
        display: flex;
        align-items: center;
    }

    .old-post{
        width: 100%;
    }

    .container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 2.5fr 1.4fr;
    }

    section{
        border: 2px solid red;
    }

    .main_content{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .main_content h1{
        font-size: 3.4rem;
    }
    
    .main_content div{
        width: 100%;
    }

    .new-posts, .main{
        line-height: normal;
        margin-top: 0;
        margin-bottom: 0;
    }

}